*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
   
    --text-color: white;
    --text-color-botton: black;
    --bg-url: url("/home/assets/Rectangle\ 6.png");
    --stroke-color: #0D121E;
    --surface-color:#080B16;
    --surface-color-hover: #F0B35B;}

body{
    background: var(--bg-url);
    background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    opacity: 80%;
    height: 100vh;
}
#loading{
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
align-content: center;
display: none;
}
#loading label{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    margin: auto;
    display:flex;
    flex-direction: column;
    width: 400px;
    padding-top: 100px;
    text-align: center;
    color: var(--text-color);
    .error{
        color: antiquewhite;
        background-color: red;
        border-radius: 10px;
        display: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    #email{
        width: auto;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        
    }
    #senha{
        margin-top: 5px;
        margin-bottom: 5px;
        width: auto;
        height: 30px;
        border-radius: 5px;
    }
    #recuperar-senha{
        border: none;
        font-size: larger;
        width: 300px;
        margin: auto;
        margin-top: 10px;   
    }
 
     }


