:root {
    --text-color: white;
    --text-color-botton: black;
    --surface-color-hover: #F0B35B;
    --surface-color: #080B16;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #080B16; /* Cor de fundo */
}

#container {
    width: 90%; /* Largura responsiva */
    max-width: 400px; /* Limite máximo */
    padding: 20px;
    background-color:var(--surface-color); /* Cor de fundo do container */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: var(--text-color);
}

label {
    color: var(--text-color);
    display: block;
    margin: 10px 0 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%; /* Largura responsiva */
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    border: 1px solid var(--surface-color-hover);
    border-radius: 5px;
    background-color: #2B2B2B; /* Cor de fundo do input */
    color: var(--text-color);
}

.error {
    color: red;
    font-size: 0.9rem;
    display: none; /* Inicialmente oculto */
}

button {
    display: block;
    width: 100%; /* Largura responsiva */
    padding: 10px;
    font-size: larger;
    margin-top: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#recuperar-senha {
    border: none;
    background: none;
    color: var(--text-color);
}

#enter, #register {
    background-color: var(--surface-color-hover);
    color: var(--text-color-botton);
    border: none;
}

button:hover:not([disabled]) {
    background-color: rgba(240, 179, 91, 0.8); /* Efeito de hover */
}

button[disabled] {
    opacity: 0.7;
    cursor: default;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    #container {
        padding: 15px;
    }

    button {
        font-size: 1.1rem; /* Ajustar o tamanho da fonte para telas menores */
    }
}
