

   #recuperar-senha{
        border: none;
        background: none;
        font-size: larger;
        width: 300px;
        margin: auto;
        margin-top: 10px;   
        color: var(--text-color);
    }
    #enter{
       background-color:var(--surface-color-hover);
       color:var(--text-color-botton);
        border: none;
        font-size: larger;
        width: 300px;
        margin: auto;
        margin-top: 10px;
        border-radius: 30px;
    }
    #register{
        background-color: var(--surface-color-hover);
        color: var(--text-color-botton);
        border: none;
        font-size: larger;
        width: 300px;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 30px;
     }
button[disabled]{
opacity: 0.7;
cursor: default;
}