
:root{
    font-size: 62.5%;
    --text-color: white;
    --text-color-botton: black;
    --bg-url: url("assets/Rectangle 6.png");
    --stroke-color: #0D121E;
    --surface-color:#080B16;
    --surface-color-hover: #F0B35B;

    }
body{
    width: auto;
}
    #box {
        h1{
            font-size: 3.0rem;
        }
        width: 100vw;
        display: flex;
        flex-direction: row;
        background-color: var(--surface-color);
        color:var(--text-color);
        padding: 2.0rem;
        text-align: center;
        align-items: center;
        align-content:space-between

    }
    #logout {
        padding: 1.0rem 2.0rem;
        color:var(--text-color-botton);
        background-color: var(--surface-color-hover);
        width: 8.0prem;
        height: auto;
        border: none;
        border-radius: 1.5rem;
        cursor: pointer;
        margin-right: 1.0rem;
        margin-left: 60.0rem;
    }
    h2{
        font-size: 2.5rem;
    }
    header nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: 50px;
        gap: 20px;
    

    }
    header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        
    }
    section {
        padding: 4.0rem 2.0rem;
        text-align: center;
    
    }
    #inicio {
        background: var(--bg-url);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        color:var(--text-color);
        height: 82.0rem;
        padding-top: 27.0rem;
    }
    #inicio h2{
        margin-bottom: 1.4rem;
        font-size: 2.5rem;
    }
    #inicio p{
        margin-bottom: 2.4rem;
        font-size: 1.5rem;
    }
    #sobre{
        display: grid;
        grid-auto-flow: column;
        background-color: var(--stroke-color);
        color: var(--text-color);
        border-style:hidden;
        font-size: 1.5rem;
        #imagens{
            div{
                display: grid;
                gap: 5px;
              width:fit-content
            }
            width:fit-content;
            display: grid;
            grid-auto-flow: column;
            gap: 5px;
        #img1{width: 25.0rem;
            height: auto;
            border-radius: 5px;
        } #img2{width: 25.0rem;
            height: auto;
            border-radius: 5px;
        }
        #img3{
            width: auto;
            height:44.054rem;
            border-radius: 5px;
        }}
    } 
    #servicos{
        background-color: white;
        color: var(--surface-color);
        height: 78.4rem;
       
    }
    #servicos h2{
        color: var(--stroke-color);
        padding-top:10.4rem;
        padding-bottom: 1.4rem;
        align-items: center;
    }
        #desc{
            padding-bottom: 48px;
            font-size: 1.5rem;
        }
        #list{
        list-style: none;
        display: grid;
        grid-auto-flow:column;
    }
    #list li img{
        width: 20.0rem;
        height: auto;
    }
    #contato {
        background-color: var(--stroke-color);
        color: var(--text-color);
        font-size: 1.5rem;
       
    }
    
    /* Botão */
    #hr {
        padding: 1.0rem 2.0rem;
        color:var(--text-color-botton);
        background-color: var(--surface-color-hover);
        width: 15.0rem;
        border: none;
        border-radius: 1.5rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    
    button:hover {
        background-color: #555;
    }
    
    /* Rodapé */
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 2.0rem;
    }
